VITRINA_DB_NAME=VitrinaDb
VITRINA_DB_SA_PASSWORD=Vitrina_Strong_Password_123!
VITRINA_JWT_ISSUER=Vitrina
VITRINA_JWT_AUDIENCE=Vitrina
VITRINA_JWT_KEY=CHANGE_THIS_SUPER_SECRET_KEY_TO_A_LONG_RANDOM_VALUE_1234567890
VITRINA_JWT_EXPIRATION_MINUTES=120
