<app-product-list
  [filterForm]="filterForm"
  [products]="result().items"
  [totalCount]="result().totalCount"
  [pageNumber]="result().pageNumber || pageNumber()"
  [pageSize]="result().pageSize || pageSize()"
  [loading]="loading()"
  [errorMessage]="errorMessage()"
  [successMessage]="successMessage"
  [canManage]="canManage"
  [pendingDeleteId]="pendingDeleteId()"
  [deletingId]="deletingId()"
  (filterSubmitted)="submitFilters()"
  (filtersReset)="resetFilters()"
  (pageChanged)="changePage($event)"
  (view)="viewProduct($event)"
  (create)="createProduct()"
  (edit)="editProduct($event)"
  (requestDelete)="requestDelete($event)"
  (cancelDelete)="cancelDelete()"
  (confirmDelete)="confirmDelete($event)"
></app-product-list>
