USE [master]
GO
/****** Object:  Database [VitrinaDb]    Script Date: 10/4/2026 10:13:22 AM ******/
CREATE DATABASE [VitrinaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VitrinaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VitrinaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VitrinaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VitrinaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VitrinaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VitrinaDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/4/2026 10:13:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/4/2026 10:13:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Category] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/4/2026 10:13:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20261004150459_Initial', N'10.0.0')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [Category], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Wireless Noise-Canceling Headphones', N'Premium over-ear headphones with active noise cancellation and all-day battery life.', CAST(249.99 AS Decimal(18, 2)), 35, N'Audio', N'https://images.unsplash.com/photo-1505740420928-5e560c06d30e?auto=format&fit=crop&w=1200&q=80', 1, CAST(N'2025-01-05T09:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [Category], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'4K Portable Monitor', N'Slim 15.6-inch USB-C portable monitor for working on the go.', CAST(329.00 AS Decimal(18, 2)), 18, N'Accessories', N'https://images.unsplash.com/photo-1527443224154-c4a3942d3acf?auto=format&fit=crop&w=1200&q=80', 1, CAST(N'2025-01-12T10:30:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [Category], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Mechanical Keyboard', N'Compact mechanical keyboard with hot-swappable switches and RGB backlight.', CAST(129.50 AS Decimal(18, 2)), 42, N'Computing', N'https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?auto=format&fit=crop&w=1200&q=80', 1, CAST(N'2025-01-20T14:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Admin User', N'admin@vitrina.dev', N'admin', N'PBKDF2$100000$M2sLSVWCKjmNAWrhiLff2Q==$c3UWlPye+02m+RWkGYCP9nqGU1Cmb5MpNm1D23KpqK8=', 1, CAST(N'2025-01-01T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'Regular User', N'user@vitrina.dev', N'user', N'PBKDF2$100000$yy8A999moS2/LzRxBqAfZQ==$uOMR3XbgOSu80whbJREikbZrV+3g6HfN1OsY0p1RsLo=', 2, CAST(N'2025-01-01T08:05:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10/4/2026 10:13:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 10/4/2026 10:13:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
